<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Best Biss | Edit Menu Type</title>
    <!--<meta name="format-detection" content="telephone=no" />-->
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="viewport" width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
    <script type="text/javascript" src="js/managers.js"></script>
    <script type="text/javascript" src="js/edit-menu-type.js"></script>
</head>
<body>
<div class="wrapper">
    <section class="error-cont" id="error-page">
        <section class="container">
            <section class="close" id="close-error-page"><p class="flaticon-close32"></p></section>
            <section class="content"><p id="error-msg"></p></section>
        </section>
    </section>
    <header>
        <section class="top-strip">
            <section class="authentication-cont">
                <section class="user-icon" id="user-icon"><p class="flaticon-user7"></p></section>
                <section class="options-cont" id="options-cont">
                    <section id="log-out"><p class="flaticon-symbol21"></p><p>התנתק</p></section>
                    <hr class="hr">
                    <section id="update-manager-details"><p class="flaticon-profile31"></p><p>עדכן פרטים</p></section>
                    <hr class="hr">
                    <section id="switch-user"><p class="flaticon-users38"></p><p>החלף משתמש</p></section>
                </section>
                <section class="logged-cont"><p><%= username %></p></section>
            </section>
        </section>
        <section class="logo-cont">
            <section class="logo"></section>
        </section>
        <section class="nav-strip"></section>
    </header>
    <section class="main">
        <section class="side-nav">
            <nav>
                <ul>
                    <li><a href="#" id="managers">מנהלים</a></li>
                    <li><a href="#">הגדרות אפליקצייה</a></li>
                    <li><a href="/menu-types">ניהול תפריט</a></li>
                    <li><a href="/business-companies">לקוחות עסקיים</a></li>
                    <li><a href="#">ניהול קופונים</a></li>
                    <li><a href="#">פילוחים</a></li>
                    <li><a href="#">גיבוי מערכת</a></li>
                    <li><a href="#">לקוחות זהב</a></li>
                </ul>
            </nav>
        </section>
        <section class="content">
            <section class="breadcrumbs-strip">
                <% for(var i = 0; i < breadcrumbs.length; i++){ %>
                <section class="breadcrumb-item"><a href="<%= breadcrumbs[i].path %>"><%= breadcrumbs[i].name %></a></section>
                <% } %>
            </section>
            <section class="edit-menu-type-cont" id="<%= params.menu_type_id %>-<%= params.menu_type_name %>">
                <section class="update-details-cont">
                    <section class="title-cont">
                        <section class="hr"></section>
                        <section class="title">
                            <section class="name"><p>עריכת פרטי <%= params.menu_type_name %></p></section>
                        </section>
                        <section class="hr"></section>
                    </section>
                    <form>
                        <section class="form-row"><label>שם: </label><input type="text" id="name" maxlength="20" value="<%= params.menu_type_name %>" /></section>
                        <section class="approve-details" id="save-details">
                            <section class="msg"><p></p></section>
                            <section class="icon"><p class="flaticon-floppy13"></p></section>
                            <section class="text" title="שמור" ><p>שמור</p></section>
                        </section>
                    </form>
                </section>
                <section class="related-images">
                    <section class="title-cont">
                        <section class="hr"></section>
                        <section class="title">
                            <section class="name"><p>תמונות שמשוייכות ל<%= params.menu_type_name %></p></section>
                            <form id="related-form" enctype="multipart/form-data">
                                <section id="submit-type-related-image" class="upload" title="העלאת תמונה"><p class="flaticon-upload31"></p></section>
                                <section id="choose-type-related-image" class="choose-image-button"><p>בחר קובץ</p></section>
                                <section id="related-image-name" class="image-name"><p>לא נבחרה תמונה</p></section>
                                <input type="file" name="type_image_related" id="type-image-related" style="display: none;"/>
                                <input type="submit" style="display: none;"/>
                            </form>
                        </section>
                        <section class="hr"></section>
                    </section>
                    <section class="images-cont">
                        <% for(var i = 0; i < related_images.length; i++){ %>
                        <section class="related-image-cont" id="related-images-<%= related_images[i].id %>" style="background: url('../images/<%= related_images[i].image_name %>') no-repeat; background-size: contain; background-position: center center; background-color: #fff;">
                            <section class="remove"><p class="flaticon-close32"></p></section>
                            <section class="active" id="active-<%= related_images[i].active %>"><p class="flaticon-good1"></p></section>
                        </section>
                        <% } %>
                    </section>
                </section>
                <section class="all-images">
                    <section class="title-cont">
                        <section class="hr"></section>
                        <section class="title">
                            <section class="name"><p>כל התמונות</p></section>
                            <form id="stock-form" enctype="multipart/form-data">
                                <section id="submit-type-stock-image" class="upload" title="העלאת תמונה"><p class="flaticon-upload31"></p></section>
                                <section id="choose-type-stock-image" class="choose-image-button"><p>בחר קובץ</p></section>
                                <section id="stock-image-name" class="image-name"><p>לא נבחרה תמונה</p></section>
                                <input type="file" name="stock_image" id="type-image-stock" style="display: none;"/>
                                <input type="submit" style="display: none;"/>
                            </form>
                        </section>
                        <section class="hr"></section>
                    </section>
                    <section class="images-cont">
                        <% for(var i = 0; i < all_images.length; i++){ %>
                        <section class="all-image-cont" id="all-images-<%= all_images[i].id %>" style="background: url('../images/<%= all_images[i].image_name %>') no-repeat; background-size: contain; background-position: center center; background-color: #fff;"></section>
                        <% } %>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <footer></footer>
</div>
</body>
</html>