<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Best Biss | Managers</title>
    <!--<meta name="format-detection" content="telephone=no" />-->
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="viewport" width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
    <script type="text/javascript" src="js/managers.js"></script>
</head>
<body>
<div class="wrapper">
    <section class="error-cont" id="error-page">
        <section class="container">
            <section class="close" id="close-error-page"><p class="flaticon-close32"></p></section>
            <section class="content"><p id="error-msg"></p></section>
        </section>
    </section>
    <header>
        <section class="top-strip">
            <section class="authentication-cont">
                <section class="user-icon" id="user-icon"><p class="flaticon-user7"></p></section>
                <section class="options-cont" id="options-cont">
                    <section id="log-out"><p class="flaticon-symbol21"></p><p>התנתק</p></section>
                    <hr class="hr">
                    <section id="update-manager-details"><p class="flaticon-profile31"></p><p>עדכן פרטים</p></section>
                    <hr class="hr">
                    <section id="switch-user"><p class="flaticon-users38"></p><p>החלף משתמש</p></section>
                </section>
                <section class="logged-cont"><p><%= username %></p></section>
            </section>
        </section>
        <section class="logo-cont">
            <section class="logo"></section>
        </section>
        <section class="nav-strip"></section>
    </header>
    <section class="main">
        <section class="side-nav">
            <nav>
                <ul>
                    <li><a href="#" id="managers">מנהלים</a></li>
                    <li><a href="#">הגדרות אפליקצייה</a></li>
                    <li><a href="/menu-types">ניהול תפריט</a></li>
                    <li><a href="#">ניהול לקוחות</a></li>
                    <li><a href="#">ניהול קופונים</a></li>
                    <li><a href="#">פילוחים</a></li>
                    <li><a href="#">גיבוי מערכת</a></li>
                    <li><a href="#">לקוחות זהב</a></li>
                </ul>
            </nav>
        </section>
        <section class="content">
            <section class="breadcrumbs-strip">
                <% for(var i = 0; i < breadcrumbs.length; i++){ %>
                <section class="breadcrumb-item"><a href="<%= breadcrumbs[i].path %>"><%= breadcrumbs[i].name %></a></section>
                <% } %>
            </section>
            <section class="managers-cont">
                <section class="managers-list-wrap">
                    <section class="header">
                        <section class="first-name"><p>שם פרטי</p></section>
                        <section class="last-name"><p>שם משפחה</p></section>
                        <section class="email"><p>דוא"ל</p></section>
                        <section class="phone-number"><p>טלפון</p></section>
                        <section class="username"><p>שם משתמש</p></section>
                        <section class="is-admin"><p>Admin</p></section>
                    </section>
                    <% for(var i = 0; i < managers.length; i++) { %>
                    <section class="manager-item" id="manager-<%= managers[i].id %>">
                        <section class="first-name"><p><%= managers[i].first_name %></p></section>
                        <section class="last-name"><p><%= managers[i].last_name %></p></section>
                        <section class="email"><p><%= managers[i].email %></p></section>
                        <section class="phone-number"><p><%= managers[i].phone_number %></p></section>
                        <section class="username"><p><%= managers[i].username %></p></section>
                        <section class="is-admin">
                            <select id="<%= managers[i].admin %>">
                                <option value="0">לא</option>
                                <option value="1">כן</option>
                            </select>
                        </section>
                        <section class="save"><p class="flaticon-floppy13" id="save-<%= managers[i].id %>" title="שמור"></p></section>
                        <section class="delete"><p class="flaticon-delete96" id="delete-<%= managers[i].id %>" title="מחק"></p></section>
                    </section>
                    <% }%>
                </section>
                <section class="add-manager" id="add-manager" title="הוסף מנהל"><p class="flaticon-add182"></p></section>
            </section>
        </section>
    </section>
    <footer></footer>
</div>
</body>
</html>