<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Best Biss | Menu Items</title>
    <!--<meta name="format-detection" content="telephone=no" />-->
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="viewport" width=device-width, height=device-height" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/flaticon.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script type="text/javascript" src="js/authentication.js"></script>
    <script type="text/javascript" src="js/managers.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/menu-items.js"></script>
</head>
<body>
<div class="wrapper">
    <section class="error-cont" id="error-page">
        <section class="container">
            <section class="close" id="close-error-page"><p class="flaticon-close32"></p></section>
            <section class="content"><p id="error-msg"></p></section>
        </section>
    </section>
    <header>
        <section class="top-strip">
            <section class="authentication-cont">
                <section class="user-icon" id="user-icon"><p class="flaticon-user7"></p></section>
                <section class="options-cont" id="options-cont">
                    <section id="log-out"><p class="flaticon-symbol21"></p><p>התנתק</p></section>
                    <hr class="hr">
                    <section id="update-manager-details"><p class="flaticon-profile31"></p><p>עדכן פרטים</p></section>
                    <hr class="hr">
                    <section id="switch-user"><p class="flaticon-users38"></p><p>החלף משתמש</p></section>
                </section>
                <section class="logged-cont"><p><%= username %></p></section>
            </section>
        </section>
        <section class="logo-cont">
            <section class="logo"></section>
        </section>
        <section class="nav-strip"></section>
    </header>
    <section class="main">
        <section class="side-nav">
            <nav>
                <ul>
                    <li><a href="#" id="managers">מנהלים</a></li>
                    <li><a href="#">הגדרות אפליקצייה</a></li>
                    <li><a href="/menu-types">ניהול תפריט</a></li>
                    <li><a href="#">ניהול לקוחות</a></li>
                    <li><a href="#">ניהול קופונים</a></li>
                    <li><a href="#">פילוחים</a></li>
                    <li><a href="#">גיבוי מערכת</a></li>
                    <li><a href="#">לקוחות זהב</a></li>
                </ul>
            </nav>
        </section>
        <section class="content">
            <section class="breadcrumbs-strip">
                <% for(var i = 0; i < breadcrumbs.length; i++){ %>
                <section class="breadcrumb-item"><a href="<%= breadcrumbs[i].path %>"><%= breadcrumbs[i].name %></a></section>
                <% } %>
            </section>
            <section class="menu-items-cont">
                <% for(var i = 0; i < menu_items.length; i++) { %>
                <section class="item-container" name="<%= menu_items[i].name %>" id="<%= menu_type_name %>-<%= menu_type_id %>-<%= menu_items[i].name %>-<%= menu_items[i].id %>">
                    <section class="sealed-cont" id="<%= menu_items[i].seal %>"><p class="flaticon-forbidden"></p></section>
                    <section class="reveal-button" id="reveal"><p id="reveal-menuitem">שחרר</p></section>
                    <section class="header">
                        <section class="title">
                            <section class="name"><p><%= menu_items[i].name %></p></section>
                            <section class="price"><p><%= menu_items[i].price %> &#8362;</p></section>
                        </section>
                        <section class="description"><p><%= menu_items[i].description %></p></section>
                    </section>
                    <section class="image" style="background: url('../images/<%= menu_items[i].image_name %>') no-repeat; background-size: contain; background-position: center center; background-color: #fff;"></section>
                    <section class="footer">
                        <section title="הסתר באפליקצייה"><p id="conceal-menuitem" class="flaticon-forbidden"></p></section>
                        <section title="ערוך" ><p id="edit-menuitem" class="flaticon-edit45"></p></section>
                        <section title="מחק מהתפריט"><p id="delete-menuitem" class="flaticon-delete96"></p></section>
                    </section>
                </section>
                <% } %>
                <section class="item-container"><section class="add"><p class="flaticon-plus25"></p></section></section>
            </section>
        </section>
    </section>
    <footer></footer>
</div>
</body>
</html>